@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 222 47% 11%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 209 38% 28%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 206 21% 15%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground md:overflow-y-hidden;
  }

  /* #region AUTH*/
  .auth-container {
    @apply dark:bg  flex h-screen flex-col justify-center p-4;
  }
  .auth-wrapper {
    @apply elevate mx-auto h-auto w-full grid-cols-2 rounded-2xl bg-white dark:shadow-none md:grid md:w-3/4;
  }
  .auth-bottom {
    @apply flex gap-1 pt-6 md:absolute md:bottom-12 md:mt-0;
  }

  .auth-left {
    @apply relative col-span-1 flex flex-col items-center justify-center rounded-l-2xl rounded-r-2xl py-24 dark:bg-muted-foreground md:rounded-r-none md:px-24;
  }

  .auth-right {
    @apply col-span-1 rounded-r-2xl bg-secondary dark:bg-primary;
  }
  .auth-form-wrapper {
    @apply w-full space-y-4 px-2 text-center;
  }

  .form-title {
    @apply text-xl font-bold;
  }

  .form-subtitle {
    @apply mb-6;
  }

  input.form-input {
    @apply rounded-lg border-none bg-slate-100 ring-0 focus:border-none focus:ring-0 dark:text-black;
  }

  .auth-form {
    @apply space-y-4;
  }

  /* #endregion */

  /* #region LAYOUT */
  .main-wrapper {
    @apply ml-auto mr-auto  h-screen w-auto flex-1 items-start md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-0 lg:grid-cols-[280px_minmax(0,1fr)];
  }

  /* #endregion */

  /* #region NAV */

  .sidebar {
    @apply hidden h-full w-full flex-col border-r p-6 md:flex;
  }

  .nav-items {
    @apply flex w-full flex-row items-center justify-around md:flex-col md:items-start md:space-y-5;
  }

  .nav-icon-wrapper {
    @apply flex h-9 w-9 items-center justify-center;
  }

  .nav-icon-wrapper.active {
    @apply rounded-full bg-white dark:bg-white md:bg-primary;
  }

  .nav-icon-active {
    @apply !font-bold !text-black dark:!text-black md:!text-white;
  }

  .nav-title {
    @apply text-sm text-white md:text-base md:text-black md:dark:text-white;
  }
  .nav-title.active {
    @apply font-medium;
  }

  .nav-link {
    @apply flex w-full flex-col items-center  md:flex-row md:gap-4;
  }
  .nav-link.active {
    @apply border-r-2 border-primary dark:border-gray-600;
  }

  .link.active {
    @apply h-2 w-2 rounded-full bg-primary dark:bg-white;
  }
  .mobile-nav-wrapper {
    @apply fixed bottom-6 left-0 z-40 w-full md:hidden;
  }

  .mobile-nav {
    @apply relative mx-auto flex h-[60px] w-11/12 items-center rounded-xl bg-primary px-2 shadow-[0_3px_10px_rgb(0,0,0,0.2)];
  }

  .sidebar-bottom {
    @apply mt-auto flex gap-2;
  }
  /* #endregion */

  /* #region COMMON */

  .title {
    @apply text-xl;
  }

  .subtitle {
    @apply text-[16px];
  }
  .elevate {
    @apply shadow-[0_2.8px_2.2px_rgba(0,_0,_0,_0.034),_0_6.7px_5.3px_rgba(0,_0,_0,_0.048),_0_12.5px_10px_rgba(0,_0,_0,_0.06),_0_22.3px_17.9px_rgba(0,_0,_0,_0.072),_0_41.8px_33.4px_rgba(0,_0,_0,_0.086),_0_100px_80px_rgba(0,_0,_0,_0.12)];
  }

  .rounded-button {
    @apply !rounded-2xl !px-6;
  }

  button {
    @apply dark:text-white;
  }

  .bg {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
  }

  .dialog-title {
    @apply !text-2xl;
  }

  .dialog-description {
    @apply !text-gray-400;
  }

  .user-info {
    @apply flex gap-2;
  }
  /* #endregion */

  /* #region MAIN SLOT LAYOUT */
  .main {
    @apply h-screen p-4 md:p-4;
  }
  /* #endregion */

  /* #region HOME PAGE */
  .home-page {
    @apply mb-24 h-full grid-cols-3 gap-4 gap-y-4 md:grid;
  }

  .home-main {
    @apply col-span-2 mb-4 md:mb-0;
  }

  .home-header {
    @apply h-auto w-full rounded-xl border p-4;
  }

  /* #region ASIDE */

  .home-aside {
    @apply col-span-1 h-full w-full  rounded-2xl bg-primary p-4;
  }

  .home-aside .title,
  .home-aside .subtitle {
    @apply text-white;
  }

  .home-aside-bottom {
    @apply relative mt-[250px];
  }

  .home-aside input.form-input {
    @apply placeholder:text-gray-400 dark:border-solid dark:border-white dark:bg-transparent dark:text-white dark:focus:ring-0;
  }

  .list-users-wrapper {
    @apply h-[300px] md:h-[150px];
  }

  .list-users {
    @apply space-y-4;
  }

  .home-aside .user-info {
    @apply cursor-pointer text-white;
  }

  .bank-card {
    @apply h-[180px] w-[310px] rounded-xl p-4 text-white shadow-lg;
    /* background-image: url("../assets/images/card-bg.png"); */
  }

  .balance-title {
    @apply text-2xl font-bold;
  }

  .card-number-container {
    @apply my-2;
  }

  .card-number {
    @apply text-2xl tracking-widest;
  }

  .bank-card-bottom {
    @apply flex items-center justify-between;
  }

  /* #endregion */

  /* #endregion */
}
